html {
    font-size: 20px;
    font-family: 'Akaya Telivigala', serif, !important;
  }
  body {
    margin: auto;
    background: url("../img/background/background.jpg") fixed;
  }
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: auto;
    margin: auto;
  }
  hr {
    border: none;
    border: double rgba(0,0,0);
    text-align: center;
    height: 5px;
    }
  .title {
    font-size: 60px;
    color: rgba(255,255,255);
    text-shadow: 3px 3px 3px rgba(0,0,0);
  }
  .subtitle {
    color: rgba(255,255,255);
    text-shadow: 3px 3px 3px rgba(0,0,0);
    font-size: 30px;
  }
  aside {
    background: rgb(255, 222, 173);
    overflow: auto;
    border-radius: 10%;
    position: fixed;
    right: 0;
    top: 0;  
    width: 20%;
    height: 250px; 
  }
  nav {
    width: 20%;
    position: fixed;
    right: 0;
    top: 300px;
  }
  article {
    text-align: center;
    border: 5px ridge rgb(165, 42, 42);
    border-radius: 25%;
    background: rgb(154, 205, 50);
    position: fixed;
    top: 500px;
    right: 0;
    width: 20%;
    animation-duration: 5s;
    animation-name: maj;
    animation-delay: 5s;
    animation-iteration-count: 1;
    transform-origin: center;  
  }
  article:nth-of-type(2) {
    border: none;
    border-radius: 0%;
    transform-origin: center;
    animation: none; 
    top: 700px;
    right: 40px;
    width: auto;
    background: none; 
    transform-origin: center;
  }
  .soon {
    width: 300px;
    height: 125px;
    background: rgb(154, 205, 50);
    position: relative;  
  }
  .soon::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 30px solid rgb(154, 205, 50);
  }
  .soon::after {
    content: "" ;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 30px solid rgb(154, 205, 50);
    transform-origin: center; 
  }
  @keyframes maj {
    from {margin-right: 0%;}
    to {margin-right: 0%;}
    0%   {background-color:rgb(238, 130, 238); right:0px; top:450px;}
    14%  {background-color:rgb(75, 0, 130);    right:0px; top:550px;}
    28%  {background-color:rgb(0, 0, 255);     right:0px; top:450px;}
    42%  {background-color:rgb(0, 128, 0);     right:0px; top:550px;}
    56%  {background-color:rgb(255, 255, 0);   right:0px; top:450px;}
    70%  {background-color:rgb(255, 131, 0);   right:0px; top:550px;}
    84%  {background-color:rgb(237, 0, 0);     right:0px; top:450px;}
  
    from{-webkit-transform: rotate(0deg);}
    to  {-webkit-transform: rotate(360deg);}
    0%  {-webkit-transform: rotate(40deg);}
    14% {-webkit-transform: rotate(80deg);}
    28% {-webkit-transform: rotate(120deg);}
    42% {-webkit-transform: rotate(160deg);}
    56% {-webkit-transform: rotate(200deg);}
    70% {-webkit-transform: rotate(240deg);}
    84% {-webkit-transform: rotate(280deg);}
    92% {-webkit-transform: rotate(320deg);}
  }
  .bio { 
    font-family: 'Dancing Script';
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .author {
    font-size: 30px;
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 79%;
  }
  section {
    text-align: center;
    font-size: 30px;
    height: 550px;
    width: 485px;   
    margin: auto;
  }
  img {
      cursor: help;
  }
  aside img {
    cursor: not-allowed;
    animation-duration: 0s;
  }
  .facebook img {
    cursor: pointer;
    animation-duration: 0s;
  }
  .instagram img {
    cursor: pointer;
    animation-duration: 0s;
  }
  .mail img {
    cursor: pointer;
    animation-duration: 0s;
  }
  img {
    animation-duration: 5s;
    animation-name: gliss;
    animation-iteration-count: 1;
    animation-direction: normal; 
  }
  @keyframes gliss {
    from {
      margin-right: 100%;
      width: 500%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }

    50% {
      font-size: 100%;
      margin-left: 20%;
      width: 250%;
    } 
  }
  .navbutton {
    font-family: 'Pangolin';
    font-size: 30px;
    border-radius: 25%;
  }
  .navbutton:hover {
    background: rgb(210, 105, 30);
  }
  .navbutton:active {
    border: 2px solid rgb(0, 0, 0);
  }
  .styledbutton {
    font-family: 'Pangolin';
    font-size: 30px;
  }
  .styledbutton:hover {
    background: rgb(255, 222, 173);
  }
  .styledbutton:active {
      border: 2px solid rgb(0, 0, 0);
  }

  @media screen and (max-width: 1280px){
    aside {
      height: 280px;
      overflow: auto;
    }
    article {
      top: 400px;
      animation-duration: 5s;
      animation-name: news;
      animation-delay: 5s;
      animation-iteration-count: 1; 
      transform-origin: center;  
    }
    article:nth-of-type(2) {
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
    @keyframes news{
      from {margin-right: 0%;}
      to   {margin-right: 0%;}
      0%   {background-color:rgb(238, 130, 238); right:0px; top:400px;}
      14%  {background-color:rgb(75, 0, 130);    right:0px; top:400px;}
      28%  {background-color:rgb(0, 0, 255);     right:0px; top:400px;}
      42%  {background-color:rgb(0, 128, 0);     right:0px; top:400px;}
      56%  {background-color:rgb(255, 255, 0);   right:0px; top:400px;}
      70%  {background-color:rgb(255, 131, 0);   right:0px; top:400px;}
      84%  {background-color:rgb(237, 0, 0);     right:0px; top:400px;}
      92%  {background-color:rgb(238, 130, 238); right:0px; top:400px;}
      
      from {-webkit-transform: rotate(0deg);}
      to   {-webkit-transform: rotate(360deg);}
      0%   {-webkit-transform: rotate(40deg);}
      14%  {-webkit-transform: rotate(80deg);}
      28%  {-webkit-transform: rotate(120deg);}
      42%  {-webkit-transform: rotate(160deg);}
      56%  {-webkit-transform: rotate(200deg);}
      70%  {-webkit-transform: rotate(240deg);}
      84%  {-webkit-transform: rotate(280deg);}
      92%  {-webkit-transform: rotate(320deg);}
  }
  @media  screen and (max-width: 480px) {
    body{
      background: url("../img/background/backgroundmobile.jpg") fixed;
    }
    header {
      text-align: left;
      width: 75%;
      margin-left: 5px;
    }
    .title {
      font-size: 35px;
    }
    nav{
      position: absolute;
      top: 0;
      right: 25px;
    }
    .navbutton {
      font-size: 20px;
    }
    img {
      animation: none;
      height: 50%;
      width: 50%;
    }   
    aside {
      visibility: hidden;
    } 
    article {
      visibility: hidden;
    }
    main {
      margin: auto;
    }
    section {
      height: auto;
    }
  }
