html {
font-size: 20px;
font-family: 'Akaya Telivigala', serif;
}
body {
background: url("../img/background/cactus.jpg") fixed;
}
header {
text-align: center;
height: auto;
margin: auto;
}
hr {
border: none;
border: double rgba(0,0,0);
text-align: center;
height: 5px;
}
nav {
text-align: center;
}
.title {
font-size: 60px;
font-weight: bold;
color: rgba(0,0,0);
text-shadow: 3px 3px 3px rgb(255,255,255);
}
.subtitle {
font-size: 45px;
font-weight: bold;
color: rgba(0,0,0);
text-shadow: 3px 3px 3px rgb(255,255,255);
}
caption {
font-size: 50px; 
color: rgb(154, 205, 50);
background: chocolate;
border-radius: 50%;
text-shadow: 3px 3px 3px rgba(0,0,0);
width: 400px;
margin: auto;
}
table {
width: 75%;
margin: auto;
border-collapse: collapse;  
text-align: center;
border: 10px double rgba(0,0,0);
background:  rgb(127,255,212);
}
th {
border: 2px solid rgba(0,0,0);
font-size: 25px;
} 
td {
border: 1px solid rgba(0,0,0);
font-size: 25px;
} 
td:nth-child(2){
font-size: 20px;
}
td:nth-child(3){
font-size: 20px;
}
td:nth-child(4){
font-size: 20px;  
}
td:nth-child(5){
font-size: 20px;
}
tbody {
border-left: 2px solid rgba(0,0,0);
border-right: 2px solid rgba(0,0,0);
border-bottom: 2px solid rgba(0,0,0);
}
button {
font-size: 30px;
font-family: 'Pangolin';
font-weight: bold;
line-height: 1.8;
width: auto;     
}
.styledbutton {
background-color: rgb(154, 205, 50);
border-radius: 50%;       
box-shadow: inset -2px -2px 3px rgba(0,0,0);            
}  
.styledbutton:hover  {
background-color: rgb(253, 18, 3);
} 
.styledbutton:active {
background-color: rgb(0, 0, 255);
}
@media screen and (max-width: 480px) {
    .title {
        font-size: 50px;
    }
    .subtitle {
        font-size: 25px;
    }
    thead, tbody, th, td, tr { 
        display: block;
    }
    thead {
        position: absolute;
        top: -9999px;
        right: -9999px;
    }
    td:nth-of-type(2):before {
        content: "Exposition: ";
        font-weight: bold;
    }
    td:nth-of-type(3):before {
        content: "Arrosage: ";
        font-weight: bold;
    }
    td:nth-of-type(4):before {
        content: "Rempotage: ";
        font-weight: bold;
    }
    td:nth-of-type(5):before {
        content: "Saisons: ";
        font-weight: bold;
    } 
}


@keyframes AutoSlide {
	0%   {left: 0px;} 
	5%   {left: 0px;}
	10%  {left: -480px;}
	15%  {left: -480px;}
	25%  {left: -960px;}
	25%  {left: -960px;}
	30%  {left: -1440px;}
    35%  {left: -1440px;}
    40%  {left: -1920px;}
    45%  {left: -1920px;}
    50%  {left: -2400px;}
    55%  {left: -2400px;}
    60%  {left: -2880px;}
    65%  {left: -2880px;}
    70%  {left: -3360px;}
    75%  {left: -3360px;}
    80%  {left: -3840px;}
    85%  {left: -3840px;}
    90%  {left: -4320px;}
    95%  {left: -4320px;}
    100% {left: 0px;}
}

#slideshow {
	position: relative;
	width:   480px;
	height:  640px;
	margin:  20px auto;
	overflow: hidden;
}
#sContent li {
	display: inline;
}
#sContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 4800px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	-webkit-animation-name: AutoSlide;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: AutoSlide;
	-moz-animation-duration: 20s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;

    -o-animation-name: AutoSlide;
	-o-animation-duration: 20s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;

    -ms-animation-name: AutoSlide;
	-ms-animation-duration: 20s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: ease-in-out;

    animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}